.example-card {
    max-width: 400px;
    padding: 16px; 
    box-shadow: 3px 3px 6px hsla(0, 0%, 13%, 1); 
    border-radius: 8px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-header{
    flex-direction: row-reverse;
  }

  .mat-card-actions{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .compo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    margin: 0;
  }

  #city-name{
    font-size: 26px;
    font-weight: bold;
    color: #333;
  }

  .city-name-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    margin-top: -1rem;
  }
  
  input[type="text"] {
    padding: 15px;
    margin: 15px 0px 19px 0px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #2196F3;
  }
  
  input[type="text"]::placeholder {
    color: #aaa;
  }
  
  button {
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #1565C0;
    transform: translateY(-3px);
  }
  
  #weather-info {
    display: none;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
  }
  
  #weather-icon {
    width: 100px;
    height: 100px;
    box-shadow: 3px 12px 15px hsla(240, 7%, 62%, 1);
  }
  
  #temperature {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin: 1rem 0;
  }
  
  #description {
    font-size: 20px;
    color: #090909;
    margin-bottom: 1rem 0;
  }
  
  #wind-speed,
  #humidity,
  #date {
    font-size: 16px;
    color: #070707;
    margin: 1rem 0;
  }
  
  #date {
    margin-bottom: 5px;
    color: #888;
  }
  
  .loading {
    font-size: 18px;
    color: #2196F3;
    margin-top: 20px;
  }
  
  .error-message {
    font-size: 18px;
    color: #f44336;
    margin-top: 20px;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
  
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @media (max-width: 600px) {
    .weather-card {
        padding: 20px;
        width: 90%;
    }
  
    input[type="text"] {
        font-size: 14px;
    }
  
    button {
        font-size: 14px;
    }
  
    #temperature {
        font-size: 22px;
    }
  
    #description {
        font-size: 18px;
    }
  
    #wind-speed,
    #humidity,
    #date {
        font-size: 14px;
    }
  }

  .weather-details{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .min,
  .max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
  }
  
  .max {
    align-items: flex-start;
    border-left: 2px solid rgb(61, 58, 58);
  }
  
  .maxHeading,
  .minHeading {
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
  }
  
  .maxTemp,
  .minTemp {
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
  }


  